.cons {
  margin-bottom: 100px !important;
  margin-top: 50px !important;
}
.imgs {
  width: 100% !important;
  display: block !important;
  margin: auto;
}
.fontsize {
  font-size: 38px !important;
}
